html{
	background-color: #F0F0F0;
}

.contained {
	position:absolute;
	top:50%;
	left:20px;
	border:1px solid red;
    height: 150px;
    width: 80%;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    transform: rotate(-30deg);
    
}

.nav-panel {
	padding-left: 25px;
    margin-top: 7px;
    background-color: #F6F2F8;
    box-shadow: 1px 1px 4px #898989;
    height: 50px;
    width: 150%;
}

.nav-item {
	display:inline-block;
	height:100px;
	width:50px;
	margin:5px;
	transform: rotate(30deg);
}

.nav-btn-containter {
	text-align: center;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
}

.nav-btn-icon {
    border-radius: 50%;
    height:30px;
    width:30px;
    line-height: 30px;
    
    padding-bottom:2px;

    font-weight:bold;
}

.nav-btn-vert-line {
    height: 50px;
    border-right: 1px solid gray;
    width:0px;
}